<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>No estoy empadronado/a en Valladolid, ¿puedo participar?</strong></a></li>
      <li><a href="#2"><strong>Necesito teléfono móvil o acceso a Internet para poder participar?</strong></a></li>
      <li><a href="#3"><strong>¿Cómo creo mi cuenta?</strong></a></li>
      <li><a href="#4"><strong>¿Cómo puedo enviarle una propuesta al Ayuntamiento? ¿Os puedo mandar directamente mi propuesta a alguno de los correos electrónicos que aparecen en la web de Participación?</strong></a></li>
      <li><a href="#5"><strong>He olvidado mi contraseña o no me funciona, ¿qué puedo hacer?</strong></a></li>
      <li><a href="#6"><strong>¿Cómo puedo cambiar mi correo electrónico, mi nombre de persona usuaria, mi contraseña, darme de baja o activar/desactivar las notificaciones que me llegan al correo electrónico?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Preguntas Frecuentes y soluciones a problemas técnicos(FAQ)</h1>

    <p>Te presentamos una lista de las soluciones a los problemas y dudas técnicas más frecuentes. Si esto no resuelve tu problema, puedes contactar con nosotros en el correo <a href="mailto:presupuestos.participativos@ava.es">presupuestos.participativos@ava.es</a>, o bien llamar al 010.</p>

    <h2 id="1">No estoy empadronado/a en Valladolid, ¿puedo participar?</h2>
    <ul>
      <p>La votación de propuestas está limitada a la gente empadronada en Valladolid mayor de 16 años, ya que se trata de tomar decisiones que afectarán al municipio y a los vecinos y vecinas que viven en él, y por tanto nos parece que son ellos y ellas quienes tienen que tomar la decisión final. Es cierto que hay personas que no están empadronadas en Valladolid y que aún así les pueden afectar esas decisiones, pero el Padrón es el censo más amplio del que disponemos que nos permite que el proceso de participación sea seguro y lleguemos al máximo posible de personas.</p>
    </ul>


    <h2 id="2">Necesito teléfono móvil o acceso a Internet para poder participar?</h2>
    <ul>
    <p>No. Todas las acciones relacionadas con las propuestas, tanto presentarlas, como votarlas o informarnos sobre ellas, es algo que podemos hacer a través de la plataforma web directamente. También puedes presentar tus propuestas presencialmente en los Centros Cívicos y Centros Municipales dependientes del Área de Participación Ciudadana, Juventud y Deportes.</p>
    </ul>


    <h2 id="3">¿Cómo creo mi cuenta?</h2>
    <p>
    <ul>
      Para eso hacemos click en el enlace Registrarse y cubrimos los datos que nos piden. Es un requisito marcar la casilla de aceptación de las condiciones de uso. Al crear una cuenta nos llegará un correo electrónico a la dirección que tengamos especificada, y tendremos que hacer click en el enlace que contiene (el enlace que pone "Confirmar mi cuenta") para terminar de crear la cuenta.
    </ul>
    </p>


    <h2 id="4">¿Cómo puedo enviarle una propuesta al Ayuntamiento? ¿Os puedo mandar directamente mi propuesta a alguno de los correos electrónicos que aparecen en la web de Participación?</h2>
    <ul>
    <p>No. El camino correcto para hacer una propuesta es añadirla directamente en la plataforma de Presupuestos Participativos dentro de la sección "Presupuestos participativos" (para eso es necesario primero crear una cuenta haciendo click en el enlace Registrarse, y una vez creada, pulsar en el botón "Crear propuesta" de la sección "Presupuestos participativos"). También puedes presentar tus propuestas presencialmente en los Centros Cívicos y Centros Municipales dependientes del Área de Participación Ciudadana, Juventud y Deportes.</p>
    </ul>


    <h2 id="5">He olvidado mi contraseña o no me funciona, ¿qué puedo hacer?</h2>
    <ul>
      Puedes solicitar una nueva contraseña para que se te envíe una nueva contraseña a tu correo electrónico.
    </ul>


    <h2 id="6">¿Cómo puedo cambiar mi correo electrónico, mi nombre de persona usuaria, mi contraseña, darme de baja o activar/desactivar las notificaciones que me llegan al correo electrónico?</h2>
    <ul>
    <p>Haz click en el enlace "Entrar", introduce tu correo electrónico y tu contraseña, y pulsa el botón "Entrar". Una vez hecho esto, haz click en el enlace "Mi cuenta" donde encontrarás todas las opciones que te permitirán cambiar tu correo electrónico, nombre de la persona usuaria, contraseña, darte de baja o activar/desactivar las notificaciones. Una vez realizado el cambio adecuado asegúrate de hacer click en el botón "Guardar cambios".</p>
    </ul>
    <br/><br/><br/>
  </div>
</div>
