<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <h1>Condiciones de uso</h1>
    <br/>
    <h3>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DEL PORTAL DE E-PARTICIPACIÓN DEL AYUNTAMIENTO DE VALLADOLID</h3>
	<br/>
    <h4>1. Ámbito de aplicación de las condiciones de uso</h4>
    <p>La participación (entendiéndola como participación activa más allá de la lectura del contenido presente) en el Portal de eParticipación del Ayuntamiento de Valladolid se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
    <p>El Ayuntamiento de Valladolid se reserva la facultad de modificar las presentes condiciones de uso para la participación en el Portal de eParticipación del Ayuntamiento de Valladolid, cuya última versión se publicará en este sitio web.</p>

    <br/>
    <h4>2. Objetivo de la iniciativa</h4>
    <p>A través del Portal de eParticipación, el Ayuntamiento de Valladolid quiere fomentar la participación de los ciudadanos en la gestión de la ciudad, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a los ciudadanos que permitirá recibir sus propuestas y además, crear canales directos de comunicación con el gobierno municipal, contribuyendo a tomar las decisiones más acertadas para el interés general.</p>
    
    <br/>
    <h4>3. Cuestiones generales sobre la participación en el Portal de eParticipación del Ayuntamiento de Valladolid</h4>
    <p>Podrá participar cualquier persona física a partir de los 16 años que se haya registrado previamente en el Portal de eParticipación. Mediante la aceptación de estas condiciones de uso se declara tener 16 años o más. Los mayores de edad a cuyo cargo se encuentran los menores, son los plenos responsables de la actuación que tengan éstos en el Portal de eParticipación.</p>
    <p>Al introducir el título de las propuestas, se recomienda escribir una descripción breve y precisa con un máximo de 2000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>

    <br/>
    <h4>4. Obligaciones de los usuarios del Portal de eParticipación</h4>
    <p>Al ser el Ayuntamiento de Valladolid un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.</p>
    <p>El Ayuntamiento de Valladolid no es responsable del uso incorrecto del Portal de eParticipación por los usuarios o de los contenidos localizados en el mismo, siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.</p>
    <p>El Ayuntamiento de Valladolid se reserva, por lo tanto, el derecho a limitar el acceso al Portal de eParticipación del Ayuntamiento de Valladolid de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental del Portal de eParticipación.</p>
    <p>De acuerdo a la normativa legal vigente queda prohibida la utilización del Portal de eParticipación del Ayuntamiento de Valladolid con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente:</p>
    <p>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</p>
    <p>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</p>
    <p>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</p>
    <p>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.</p>
    <p>Su utilización con fines de publicidad.</p>
    <p>La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de Valladolid suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
    <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de Valladolid no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    <p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Valladolid quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>

    <br/>
    <h4>5. Uso del Portal de eParticipación</h4>
    <p>Los participantes podrán acceder y navegar por el Portal de eParticipación libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la creación, apoyo o comentario de una propuesta, o a la participación en un debate, se le solicitará que introduzca sus credenciales, para cuya obtención será necesario registrarse previamente. El registro que permitirá participar comentando en cualquiera de las secciones, creando debates o propuestas, se realizará introduciendo los siguientes datos:</p>
    <ul>
      <li>Nombre de usuario</li>
      <li>Correo electrónico</li>
      <li>Aceptación de las condiciones de uso de el Portal de eParticipación</li>
    </ul>
    
    <p>El Portal de Gobierno eParticipación también permite la identificación mediante el usuario de Facebook, Twitter y Google+.</p>
    <p>Para participar apoyando propuestas, al usuario se le requerirá que verifique su cuenta cumpliendo que tiene 16 años o más y está empadronado en Valladolid, para lo cual se le guiará a través de una serie de pasos donde se le solicitarán datos relativos al padrón.</p>

    <br/>
    <h4>6. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</h4>
    <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido al Portal de eParticipación como a cualquier contenido que se envíe con posterioridad o se manifieste al Ayuntamiento de Valladolid, debiendo significarse lo siguiente:</p>
    <ul>
      <li>A. No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de Valladolid deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento de Valladolid tratará el citado contenido como información no confidencial.</li>
      <br/>
      <li>B. Procedimiento: En el caso de que el Ayuntamiento de Valladolid esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.<br><br>
      El Ayuntamiento de Valladolid se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de Propiedad Intelectual e industrial".<br><br>
      En el supuesto que el Ayuntamiento de Valladolid, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Ayuntamiento de Valladolid no adquiere compromiso alguno.</li>
      <br/>
      <li>C. Publicidad o difusión de los contenidos presentados: Los participantes en el Portal de eParticipación del Ayuntamiento de Valladolid declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web <a href="www.valladolid.es/presupuestosparticipativos" target="_blank" title="(se abre en ventana nueva)">www.valladolid.es/presupuestosparticipativos</a>, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.</li>
      <br/>
      <li>D. No devolución material: El Ayuntamiento de Valladolid carece de obligación alguna de devolver el Contenido remitido por los usuarios.</li>
      <br/>
      <li>E. Procedimiento de aviso y retirada: El Ayuntamiento de Valladolid procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos al Ayuntamiento de Valladolid. El Ayuntamiento de Valladolid se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
    </ul>

    <br/>
    <h4>7. Política de privacidad y protección de datos</h4>
    <ul>
      <li>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de Valladolid de forma voluntaria para su divulgación en el Portal de eParticipación del Ayuntamiento de Valladolid.<br><br>
      La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.<br><br>
      El Ayuntamiento de Valladolid no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.<br><br>
      El Ayuntamiento de Valladolid respetará todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte el contenido.<br><br>
      El Ayuntamiento de Valladolid, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.</li>
      <br/>
      <li>• B. Protección de datos: Los datos personales aportados por los usuarios que se registren en el Portal de eParticipación, serán tratados de acuerdo a lo expuesto en el apartado de Política de Privacidad.  
    </ul>

    <br/>
    <h4>8. Normativa aplicable</h4>
    <p>Las normas del ordenamiento jurídico español rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>

    <br/>
    <h4>9. Revisión de las condiciones de uso</h4>
    <p>El Ayuntamiento de Valladolid se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando el Portal de eParticipación, se entenderán aceptadas las modificaciones introducidas.</p>
    <br/><br/>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
